/* ===================================
========= register page  */

  /* .popup-header{

    padding: 0 30px 0 15px;
    margin-left: -350px;
    margin-top: -200px;
  width:200%;
  height: 210%;
      background-color: rgba(119, 115, 115, 0.35);
  }
  .popup{
    height: 400px;
    width: 50%;
    position: absolute;
    top: 25%;
    right: 25%;
    /* background-color: #434343; */
   
  /* .popup form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #302f2f;
    width:50%;

  } */

  .form-container form .title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;

    font-weight: bold;
    font-family: "Playfair Display", serif;
    /* background-color: antiquewhite; */
  }
  
  .form-container form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
  }
  
  .form-container form button {
    border: 1px solid black;
    border-radius: 0;
    background-color: #000;
    color: white;
    width: 250px;
  }
  
  .form-container form button:hover {
    border: 1px solid black;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .forgot-btn {
    background-color: #434343a4 !important;
    border: 0 !important;
  }
  
  .forgot-btn:hover {
    color: white !important;
  }