/* * {
	outline: red 1px solid;
} */
.holder {
	
	width: 100%;
}
.upper {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	/* width: fit-content; */
	margin-right: 5rem;
	margin-left: 5rem;
}
@media(max-width: 768px){
	.upper {
		flex-direction: column;
		justify-content: center;
	}
	.EJSH{
		max-width: 100% !important;
		padding-bottom: 0px !important;

	}
	.map{
		padding: 30px;
		width: 100% !important;
		height: 400px !important;
	}
	.shortCuts{
		margin: 0px !important;
	}
}
@media(max-width: 1024px){
	.upper {
		margin-right: 2rem;
		margin-left: 2rem;
	}
}
.EJSH {
	padding: 3rem;
	background: #e8edf0;
	max-width: 55%;
}
.titleCU {
	margin-top: auto;
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 30px;
	font-weight: 800;
}
/* //!================================== */
.contactForm .label {
	color: #000;
	font-size: 20px;
	font-weight: 600;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.col-md-6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.form-group {
	margin-bottom: 1rem;
}
.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-transition: border-color 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
}
.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control {
	height: 44px;
	background: #fff;
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.form-control::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.form-control:focus,
.form-control:active {
	border-color: #2553b8;
}
.contactForm .form-control {
	border: none;
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}
/* .btn .badge { position: relative; top: -1px;} */
.btn {
	padding: 12px 16px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	-webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	position: relative;
	margin-bottom: 20px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-size: 16px;
	font-weight: 500;
	color: #2553b8;
}
textarea.form-control {
	height: inherit;
}
#contactForm .form-control {
	font-size: 16px;
}
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* //!================================== */
.map{
	width: 50%;
	height: 675px;
	/* height: 100%; */
	/* width: 100%; */
}
/* //!================================== */

/* .downer{
	width: fit-content;
} */
.shortCuts{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: space-evenly;
	margin: 5em;
}
@media(min-width: 768px) {
	.shortCuts{
		flex-wrap: nowrap;
	}
}
.hs {
	max-width: 250px;
	width: 100%;
	margin-bottom: 25px;

	justify-content: center;
	align-items: center;

	display: flex;
	flex-direction: column;
	text-align: center;
}
@media (min-width: 425px) {
	.hs {
		max-width: 300px;
	}
}
.hs a {
	color: #2553b8;
}
.IconH {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2553b8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.IconH span {
	font-size: 20px;
	color: #fff;
}
.hs p {
	font-weight: 500;
	color: #000;
	margin-bottom: 0;
	margin-top: 0px;
}
.text{
	align-items: center;
	justify-content: flex;
	flex-direction: column;
}